The following code is used to prepare a data from a set of raw data. For this, there were different data retrieved. First, a set of Bluebike's data for the year 2017 was given and already pre-edited as mentioned in the assignment. Furthermore, the original Bluebike data on a monthly basis were used with the purpose of creating a combination of the "core data" representing the given, pre-edited dataset and additional data that are part of the datasets on a monthly basis provided by Bluebike itself. This dataframe containing all monthly data is the extended dataframe.

In [3]:
import os
import pandas as pd
from datetime import timedelta
import numpy as np

In [4]:
#Create the core dataframe df_core
df_core = pd.read_csv("boston_2017.csv")

In [6]:
#Check for a correct index line at the top of the dataframe. 
df_core.columns

Index(['start_time', 'end_time', 'start_station_id', 'end_station_id',
       'start_station_name', 'end_station_name', 'bike_id', 'user_type'],
      dtype='object')

In [7]:
#Is the next line necessary for anything special?

df_core.tail()

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type
1313769,2017-12-31 23:46:18,2017-12-31 23:50:27,117,141,Binney St / Sixth St,Kendall Street,1846,Subscriber
1313770,2017-12-29 16:11:56,2017-12-29 16:16:18,54,42,Tremont St at West St,Boylston St at Arlington St TEMPORARY WINTER L...,2,Subscriber
1313771,2017-12-30 08:09:44,2017-12-30 08:26:08,54,58,Tremont St at West St,Beacon St at Arlington St,1534,Subscriber
1313772,2017-12-30 12:20:01,2017-12-30 12:49:12,54,46,Tremont St at West St,Christian Science Plaza - Massachusetts Ave at...,1978,Subscriber
1313773,2017-12-30 18:27:39,2017-12-30 18:53:54,54,21,Tremont St at West St,Prudential Center - Belvedere St,15,Subscriber

# Check for null values

In [8]:
#Check if all data are included as .info() includes the number of entries.
df_core.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313774 entries, 0 to 1313773
Data columns (total 8 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   start_time          1313774 non-null  object
 1   end_time            1313774 non-null  object
 2   start_station_id    1313774 non-null  int64
 3   end_station_id      1313774 non-null  int64
 4   start_station_name  1313774 non-null  object
 5   end_station_name    1313774 non-null  object
 6   bike_id             1313774 non-null  int64
 7   user_type           1313774 non-null  object
dtypes: int64(3), object(5)
memory usage: 80.2+ MB

In [9]:
len(df_core) - len(df_core.dropna())

0

In [10]:
#Group the data by the station name and sort them according to the count of their start_station_id from smallest to largest as long as the count is smaller than a certain threshold.
groupByStationName = df_core.groupby("start_station_name").describe()
groupByStationName = groupByStationName.sort_values([('start_station_id','count')], ascending=True, inplace=False, na_position='first')

display(groupByStationName.loc[(groupByStationName[('start_station_id','std')].isna()) | (groupByStationName[('end_station_id','std')].isna())])

                                                   start_station_id         \
                                                              count   mean
start_station_name
Central Square East Boston - Porter Street at L...              1.0  219.0
8D OPS 03                                                       1.0  153.0
Oak Square YMCA                                                 1.0  208.0
Walnut Ave at Crawford St                                       1.0  201.0

                                                                             \
                                                   std    min    25%    50%
start_station_name
Central Square East Boston - Porter Street at L... NaN  219.0  219.0  219.0
8D OPS 03                                          NaN  153.0  153.0  153.0
Oak Square YMCA                                    NaN  208.0  208.0  208.0
Walnut Ave at Crawford St                          NaN  201.0  201.0  201.0

                                                                  \
                                                      75%    max
start_station_name
Central Square East Boston - Porter Street at L...  219.0  219.0
8D OPS 03                                           153.0  153.0
Oak Square YMCA                                     208.0  208.0
Walnut Ave at Crawford St                           201.0  201.0

                                                   end_station_id         ...  \
                                                            count   mean  ...
start_station_name                                                        ...
Central Square East Boston - Porter Street at L...            1.0  213.0  ...
8D OPS 03                                                     1.0  153.0  ...
Oak Square YMCA                                               1.0   11.0  ...
Walnut Ave at Crawford St                                     1.0   25.0  ...

                                                                 bike_id  \
                                                      75%    max   count
start_station_name
Central Square East Boston - Porter Street at L...  213.0  213.0     1.0
8D OPS 03                                           153.0  153.0     1.0
Oak Square YMCA                                      11.0   11.0     1.0
Walnut Ave at Crawford St                            25.0   25.0     1.0

                                                                        \
                                                      mean std     min
start_station_name
Central Square East Boston - Porter Street at L...  1891.0 NaN  1891.0
8D OPS 03                                           1583.0 NaN  1583.0
Oak Square YMCA                                      863.0 NaN   863.0
Walnut Ave at Crawford St                            448.0 NaN   448.0

                                                                            \
                                                       25%     50%     75%
start_station_name
Central Square East Boston - Porter Street at L...  1891.0  1891.0  1891.0
8D OPS 03                                           1583.0  1583.0  1583.0
Oak Square YMCA                                      863.0   863.0   863.0
Walnut Ave at Crawford St                            448.0   448.0   448.0


                                                       max
start_station_name
Central Square East Boston - Porter Street at L...  1891.0
8D OPS 03                                           1583.0
Oak Square YMCA                                      863.0
Walnut Ave at Crawford St                            448.0

[4 rows x 24 columns]

In [11]:

list_of_stations_to_look_up = groupByStationName.loc[(groupByStationName[('start_station_id','std')].isna()) | (groupByStationName[('end_station_id','std')].isna())].index.tolist()

display(list_of_stations_to_look_up)

['Central Square East Boston - Porter Street at London Street',
 '8D OPS 03',
 'Oak Square YMCA',
 'Walnut Ave at Crawford St']

In [12]:
#Furthermore, select stations for which the count of it being the start station or the end station is smaller than 10, to check for irregularities. 
display(groupByStationName.loc[(groupByStationName[('start_station_id','count')] <= 10) | (groupByStationName[('end_station_id','count')] <= 10)])

                                                   start_station_id         \
                                                              count   mean
start_station_name
Central Square East Boston - Porter Street at L...              1.0  219.0
8D OPS 03                                                       1.0  153.0
Oak Square YMCA                                                 1.0  208.0
Walnut Ave at Crawford St                                       1.0  201.0
Roxbury YMCA                                                    2.0  196.0
Boston Convention & Exhibition Center                           2.0   65.0
The Eddy at New Street                                          2.0  215.0
Franklin Park Zoo                                               2.0  170.0
EBNHC - 20 Maverick Sq                                          2.0  213.0
Brighton Center                                                 3.0  175.0
Egleston Square at Columbus Ave                                 3.0  126.0
8D QC Station 02                                                3.0  230.0
Mass Ave at Newmarket Square                                    3.0  138.0
Curtis Hall at South Street                                     4.0  124.0
Savin Hill MBTA Station                                         4.0  173.0
8D QC Station 01                                                4.0  229.0
Four Corners - 157 Washington St                                4.0  232.0
Lawn on D                                                       5.0  163.0
Dorchester Ave. at Gillette Park                                5.0   63.0
New Balance - 20 Guest St.                                      6.0   37.0
Upham's Corner - Columbia Rd                                    6.0  130.0
Seaport Hotel                                                   7.0   31.0
UMass Boston Integrated Sciences Complex                        8.0   92.0
Day Boulevard                                                   8.0  146.0
Harvard Real Estate - Brighton Mills - 370 West...              9.0   15.0

                                                                              \
                                                    std    min    25%    50%
start_station_name
Central Square East Boston - Porter Street at L...  NaN  219.0  219.0  219.0
8D OPS 03                                           NaN  153.0  153.0  153.0
Oak Square YMCA                                     NaN  208.0  208.0  208.0
Walnut Ave at Crawford St                           NaN  201.0  201.0  201.0
Roxbury YMCA                                        0.0  196.0  196.0  196.0
Boston Convention & Exhibition Center               0.0   65.0   65.0   65.0
The Eddy at New Street                              0.0  215.0  215.0  215.0
Franklin Park Zoo                                   0.0  170.0  170.0  170.0
EBNHC - 20 Maverick Sq                              0.0  213.0  213.0  213.0
Brighton Center                                     0.0  175.0  175.0  175.0
Egleston Square at Columbus Ave                     0.0  126.0  126.0  126.0
8D QC Station 02                                    0.0  230.0  230.0  230.0
Mass Ave at Newmarket Square                        0.0  138.0  138.0  138.0
Curtis Hall at South Street                         0.0  124.0  124.0  124.0
Savin Hill MBTA Station                             0.0  173.0  173.0  173.0
8D QC Station 01                                    0.0  229.0  229.0  229.0
Four Corners - 157 Washington St                    0.0  232.0  232.0  232.0
Lawn on D                                           0.0  163.0  163.0  163.0
Dorchester Ave. at Gillette Park                    0.0   63.0   63.0   63.0
New Balance - 20 Guest St.                          0.0   37.0   37.0   37.0
Upham's Corner - Columbia Rd                        0.0  130.0  130.0  130.0
Seaport Hotel                                       0.0   31.0   31.0   31.0
UMass Boston Integrated Sciences Complex            0.0   92.0   92.0   92.0
Day Boulevard                                       0.0  146.0  146.0  146.0
Harvard Real Estate - Brighton Mills - 370 West...  0.0   15.0   15.0   15.0

                                                                  \
                                                      75%    max
start_station_name
Central Square East Boston - Porter Street at L...  219.0  219.0
8D OPS 03                                           153.0  153.0
Oak Square YMCA                                     208.0  208.0
Walnut Ave at Crawford St                           201.0  201.0
Roxbury YMCA                                        196.0  196.0
Boston Convention & Exhibition Center                65.0   65.0
The Eddy at New Street                              215.0  215.0
Franklin Park Zoo                                   170.0  170.0
EBNHC - 20 Maverick Sq                              213.0  213.0
Brighton Center                                     175.0  175.0
Egleston Square at Columbus Ave                     126.0  126.0
8D QC Station 02                                    230.0  230.0
Mass Ave at Newmarket Square                        138.0  138.0
Curtis Hall at South Street                         124.0  124.0
Savin Hill MBTA Station                             173.0  173.0
8D QC Station 01                                    229.0  229.0
Four Corners - 157 Washington St                    232.0  232.0
Lawn on D                                           163.0  163.0
Dorchester Ave. at Gillette Park                     63.0   63.0
New Balance - 20 Guest St.                           37.0   37.0
Upham's Corner - Columbia Rd                        130.0  130.0
Seaport Hotel                                        31.0   31.0
UMass Boston Integrated Sciences Complex             92.0   92.0
Day Boulevard                                       146.0  146.0
Harvard Real Estate - Brighton Mills - 370 West...   15.0   15.0

                                                   end_station_id              \
                                                            count        mean
start_station_name
Central Square East Boston - Porter Street at L...            1.0  213.000000
8D OPS 03                                                     1.0  153.000000
Oak Square YMCA                                               1.0   11.000000
Walnut Ave at Crawford St                                     1.0   25.000000
Roxbury YMCA                                                  2.0   46.000000
Boston Convention & Exhibition Center                         2.0  102.000000
The Eddy at New Street                                        2.0  212.500000
Franklin Park Zoo                                             2.0   36.000000
EBNHC - 20 Maverick Sq                                        2.0  215.000000
Brighton Center                                               3.0   32.000000
Egleston Square at Columbus Ave                               3.0   62.333333
8D QC Station 02                                              3.0  230.000000
Mass Ave at Newmarket Square                                  3.0   29.000000
Curtis Hall at South Street                                   4.0  122.500000
Savin Hill MBTA Station                                       4.0   67.250000
8D QC Station 01                                              4.0  229.000000
Four Corners - 157 Washington St                              4.0  136.750000
Lawn on D                                                     5.0   97.800000
Dorchester Ave. at Gillette Park                              5.0   61.600000
New Balance - 20 Guest St.                                    6.0   48.666667
Upham's Corner - Columbia Rd                                  6.0  118.166667
Seaport Hotel                                                 7.0   86.000000
UMass Boston Integrated Sciences Complex                      8.0   86.250000
Day Boulevard                                                 8.0   91.375000
Harvard Real Estate - Brighton Mills - 370 West...            9.0   21.888889

                                                    ...                 \
                                                    ...     75%    max
start_station_name                                  ...
Central Square East Boston - Porter Street at L...  ...  213.00  213.0
8D OPS 03                                           ...  153.00  153.0
Oak Square YMCA                                     ...   11.00   11.0
Walnut Ave at Crawford St                           ...   25.00   25.0
Roxbury YMCA                                        ...   46.00   46.0
Boston Convention & Exhibition Center               ...  124.00  146.0
The Eddy at New Street                              ...  212.75  213.0
Franklin Park Zoo                                   ...   36.00   36.0
EBNHC - 20 Maverick Sq                              ...  215.00  215.0
Brighton Center                                     ...   37.50   42.0
Egleston Square at Columbus Ave                     ...   91.00  152.0
8D QC Station 02                                    ...  230.00  230.0
Mass Ave at Newmarket Square                        ...   37.50   56.0
Curtis Hall at South Street                         ...  159.00  159.0
Savin Hill MBTA Station                             ...  130.00  130.0
8D QC Station 01                                    ...  229.00  229.0
Four Corners - 157 Washington St                    ...  210.25  232.0
Lawn on D                                           ...  119.00  163.0
Dorchester Ave. at Gillette Park                    ...   24.00  218.0
New Balance - 20 Guest St.                          ...   80.25  108.0
Upham's Corner - Columbia Rd                        ...  170.00  173.0
Seaport Hotel                                       ...  161.00  163.0
UMass Boston Integrated Sciences Complex            ...   93.00   93.0
Day Boulevard                                       ...  146.00  161.0
Harvard Real Estate - Brighton Mills - 370 West...  ...   17.00   97.0

                                                   bike_id               \
                                                     count         mean
start_station_name
Central Square East Boston - Porter Street at L...     1.0  1891.000000
8D OPS 03                                              1.0  1583.000000
Oak Square YMCA                                        1.0   863.000000
Walnut Ave at Crawford St                              1.0   448.000000
Roxbury YMCA                                           2.0   903.500000
Boston Convention & Exhibition Center                  2.0   447.000000
The Eddy at New Street                                 2.0   788.000000
Franklin Park Zoo                                      2.0   787.000000
EBNHC - 20 Maverick Sq                                 2.0   788.000000
Brighton Center                                        3.0  1530.666667
Egleston Square at Columbus Ave                        3.0   511.666667
8D QC Station 02                                       3.0  1583.000000
Mass Ave at Newmarket Square                           3.0  1201.333333
Curtis Hall at South Street                            4.0   822.250000
Savin Hill MBTA Station                                4.0  1357.750000
8D QC Station 01                                       4.0  1583.000000
Four Corners - 157 Washington St                       4.0   565.750000
Lawn on D                                              5.0  1077.000000
Dorchester Ave. at Gillette Park                       5.0  1109.600000
New Balance - 20 Guest St.                             6.0   679.000000
Upham's Corner - Columbia Rd                           6.0  1085.333333
Seaport Hotel                                          7.0   733.000000
UMass Boston Integrated Sciences Complex               8.0   792.500000
Day Boulevard                                          8.0   801.750000
Harvard Real Estate - Brighton Mills - 370 West...     9.0   967.222222

                                                                         \
                                                            std     min
start_station_name
Central Square East Boston - Porter Street at L...          NaN  1891.0
8D OPS 03                                                   NaN  1583.0
Oak Square YMCA                                             NaN   863.0
Walnut Ave at Crawford St                                   NaN   448.0
Roxbury YMCA                                        1083.994696   137.0
Boston Convention & Exhibition Center                387.494516   173.0
The Eddy at New Street                               524.673232   417.0
Franklin Park Zoo                                    774.989032   239.0
EBNHC - 20 Maverick Sq                               524.673232   417.0
Brighton Center                                      111.563136  1417.0
Egleston Square at Columbus Ave                      510.204207    10.0
8D QC Station 02                                       0.000000  1583.0
Mass Ave at Newmarket Square                         688.441961   485.0
Curtis Hall at South Street                          685.534038    52.0
Savin Hill MBTA Station                              417.055852   809.0
8D QC Station 01                                       0.000000  1583.0
Four Corners - 157 Washington St                     486.534257    59.0
Lawn on D                                            697.867824    24.0
Dorchester Ave. at Gillette Park                     419.477413   751.0
New Balance - 20 Guest St.                           389.994359   135.0
Upham's Corner - Columbia Rd                         554.150040   472.0
Seaport Hotel                                        543.027317   251.0
UMass Boston Integrated Sciences Complex             313.281708   302.0
Day Boulevard                                        349.162160   238.0
Harvard Real Estate - Brighton Mills - 370 West...   422.873142   230.0

                                                                              \
                                                        25%     50%      75%
start_station_name
Central Square East Boston - Porter Street at L...  1891.00  1891.0  1891.00
8D OPS 03                                           1583.00  1583.0  1583.00
Oak Square YMCA                                      863.00   863.0   863.00
Walnut Ave at Crawford St                            448.00   448.0   448.00
Roxbury YMCA                                         520.25   903.5  1286.75
Boston Convention & Exhibition Center                310.00   447.0   584.00
The Eddy at New Street                               602.50   788.0   973.50
Franklin Park Zoo                                    513.00   787.0  1061.00
EBNHC - 20 Maverick Sq                               602.50   788.0   973.50
Brighton Center                                     1476.00  1535.0  1587.50
Egleston Square at Columbus Ave                      252.50   495.0   762.50
8D QC Station 02                                    1583.00  1583.0  1583.00
Mass Ave at Newmarket Square                         873.00  1261.0  1559.50
Curtis Hall at South Street                          568.75   758.0  1011.50
Savin Hill MBTA Station                             1185.50  1411.5  1583.75
8D QC Station 01                                    1583.00  1583.0  1583.00
Four Corners - 157 Washington St                     201.50   571.5   935.75
Lawn on D                                            769.00  1267.0  1556.00
Dorchester Ave. at Gillette Park                     814.00   850.0  1528.00
New Balance - 20 Guest St.                           501.00   619.5   898.50
Upham's Corner - Columbia Rd                         625.25  1071.0  1484.50
Seaport Hotel                                        400.00   549.0   849.00
UMass Boston Integrated Sciences Complex             571.00   822.0   984.75
Day Boulevard                                        605.75   770.0  1121.00
Harvard Real Estate - Brighton Mills - 370 West...   691.00  1167.0  1274.00


                                                       max
start_station_name
Central Square East Boston - Porter Street at L...  1891.0
8D OPS 03                                           1583.0
Oak Square YMCA                                      863.0
Walnut Ave at Crawford St                            448.0
Roxbury YMCA                                        1670.0
Boston Convention & Exhibition Center                721.0
The Eddy at New Street                              1159.0
Franklin Park Zoo                                   1335.0
EBNHC - 20 Maverick Sq                              1159.0
Brighton Center                                     1640.0
Egleston Square at Columbus Ave                     1030.0
8D QC Station 02                                    1583.0
Mass Ave at Newmarket Square                        1858.0
Curtis Hall at South Street                         1721.0
Savin Hill MBTA Station                             1799.0
8D QC Station 01                                    1583.0
Four Corners - 157 Washington St                    1061.0
Lawn on D                                           1769.0
Dorchester Ave. at Gillette Park                    1605.0
New Balance - 20 Guest St.                          1247.0
Upham's Corner - Columbia Rd                        1799.0
Seaport Hotel                                       1833.0
UMass Boston Integrated Sciences Complex            1251.0
Day Boulevard                                       1207.0
Harvard Real Estate - Brighton Mills - 370 West...  1474.0

[25 rows x 24 columns]

In [13]:
list_of_stations_to_look_up.extend(['8D QC Station 02','8D QC Station 01'])
display(list_of_stations_to_look_up)

['Central Square East Boston - Porter Street at London Street',
 '8D OPS 03',
 'Oak Square YMCA',
 'Walnut Ave at Crawford St',
 '8D QC Station 02',
 '8D QC Station 01']

In [14]:
#Display every entry of the dataframe df_core for which there is a certain value in the columns 'start_station_name' and 'end_station_name'. This is e.g., to have a closer look at entries of research interest 

#Part 1

station_to_look_up = "Oak Square YMCA" 

df_core[df_core['start_station_name'].str.contains(station_to_look_up)]

#Alternative 1:
#display(df_core[(df_core['start_station_name'] == station_to_look_up) | (df_core['end_station_name'] == station_to_look_up)])

#Alternative 2:
#display(df_core.loc[(df_core['start_station_name'].astype('string') == station_to_look_up) | (df_core['end_station_name'].astype('string') == station_to_look_up)])

#Alternative 3:
#(np.where((df_core['start_station_name'].astype(str) == station_to_look_up) | (df_core['end_station_name'].astype(str) == station_to_look_up)))

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type
555,2017-01-02 09:11:57,2017-01-02 09:33:40,208,11,Oak Square YMCA,Longwood Ave / Binney St,863,Subscriber

In [15]:
#Display every entry of the dataframe df_core for which there is a certain value in the columns 'start_station_name' and 'end_station_name'.

#Part 2

#Alternative 4 (Looking up where the value in certain columns [col1 and col2] is equal to a value in a given list [list_of_stations]):
#list_of_stations = ["Oak Square YMCA", "Oak Square - 615 Washington St"]
col1 = "start_station_name"
query1 = "{} in @list_of_stations_to_look_up".format(col1)
col2 = "end_station_name"
query2 = "{} in @list_of_stations_to_look_up".format(col2)

query = query1+"|"+query2

display(df_core.query(query))

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type
555,2017-01-02 09:11:57,2017-01-02 09:33:40,208,11,Oak Square YMCA,Longwood Ave / Binney St,863,Subscriber
1028,2017-01-02 16:38:50,2017-01-02 16:53:28,201,25,Walnut Ave at Crawford St,Tremont St / W Newton St,448,Subscriber
1099,2017-01-02 17:45:36,2017-01-02 18:09:31,11,208,Longwood Ave / Binney St,Oak Square YMCA,131,Subscriber
1650,2017-01-03 09:40:31,2017-01-03 09:42:45,219,213,Central Square East Boston - Porter Street at ...,EBNHC - 20 Maverick Sq,1891,Subscriber
24659,2017-02-10 15:28:34,2017-02-10 15:32:12,153,153,8D OPS 03,8D OPS 03,1583,Customer
861727,2017-09-08 13:00:13,2017-09-08 13:14:55,229,229,8D QC Station 01,8D QC Station 01,1583,Customer
885459,2017-09-12 15:29:49,2017-09-12 15:33:29,230,230,8D QC Station 02,8D QC Station 02,1583,Customer
1010604,2017-10-04 16:24:31,2017-10-04 16:29:11,230,230,8D QC Station 02,8D QC Station 02,1583,Customer
1010670,2017-10-04 16:32:26,2017-10-04 16:33:29,230,230,8D QC Station 02,8D QC Station 02,1583,Customer
1015445,2017-10-05 11:25:24,2017-10-05 11:26:51,229,229,8D QC Station 01,8D QC Station 01,1583,Customer
1046640,2017-10-11 13:55:04,2017-10-11 14:09:57,229,229,8D QC Station 01,8D QC Station 01,1583,Customer
1095802,2017-10-20 10:24:55,2017-11-28 14:06:45,229,229,8D QC Station 01,8D QC Station 01,1583,Customer

# Wrong station names
"8D OPS 03"
"8D QC Station 01"
"8D QC Station 02"

Maybe test data?

There are also some rows with NaN values in the std column. 

Assumed test data and entries with NaN values are dropped.

In [16]:
list_of_stations_to_remove = list_of_stations_to_look_up

In [17]:
groupByStationName.info()

<class 'pandas.core.frame.DataFrame'>
Index: 285 entries, Central Square East Boston - Porter Street at London Street to MIT at Mass Ave / Amherst St
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   (start_station_id, count)  285 non-null    float64
 1   (start_station_id, mean)   285 non-null    float64
 2   (start_station_id, std)    281 non-null    float64
 3   (start_station_id, min)    285 non-null    float64
 4   (start_station_id, 25%)    285 non-null    float64
 5   (start_station_id, 50%)    285 non-null    float64
 6   (start_station_id, 75%)    285 non-null    float64
 7   (start_station_id, max)    285 non-null    float64
 8   (end_station_id, count)    285 non-null    float64
 9   (end_station_id, mean)     285 non-null    float64
 10  (end_station_id, std)      281 non-null    float64
 11  (end_station_id, min)      285 non-null    float64
 12  (end_station_id, 25%)      285 non-null    float64
 13  (end_station_id, 50%)      285 non-null    float64
 14  (end_station_id, 75%)      285 non-null    float64
 15  (end_station_id, max)      285 non-null    float64
 16  (bike_id, count)           285 non-null    float64
 17  (bike_id, mean)            285 non-null    float64
 18  (bike_id, std)             281 non-null    float64
 19  (bike_id, min)             285 non-null    float64
 20  (bike_id, 25%)             285 non-null    float64
 21  (bike_id, 50%)             285 non-null    float64
 22  (bike_id, 75%)             285 non-null    float64
 23  (bike_id, max)             285 non-null    float64
dtypes: float64(24)
memory usage: 55.7+ KB

In [18]:
def number_difference_info(list_before, list_after):
    number_difference_info = len(list_before) - len(list_after)
    print("\nThe difference in length between the two lists is "+str(number_difference_info)+".\n")

In [19]:
display(list_of_stations_to_remove)

['Central Square East Boston - Porter Street at London Street',
 '8D OPS 03',
 'Oak Square YMCA',
 'Walnut Ave at Crawford St',
 '8D QC Station 02',
 '8D QC Station 01']

In [20]:
groupByStationNameCleaned = groupByStationName

for i in list_of_stations_to_remove:
    groupByStationNameCleaned = groupByStationNameCleaned.loc[groupByStationNameCleaned.index != i]

groupByStationNameCleaned.info()
number_difference_info(groupByStationName,groupByStationNameCleaned)

<class 'pandas.core.frame.DataFrame'>
Index: 279 entries, Roxbury YMCA to MIT at Mass Ave / Amherst St
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   (start_station_id, count)  279 non-null    float64
 1   (start_station_id, mean)   279 non-null    float64
 2   (start_station_id, std)    279 non-null    float64
 3   (start_station_id, min)    279 non-null    float64
 4   (start_station_id, 25%)    279 non-null    float64
 5   (start_station_id, 50%)    279 non-null    float64
 6   (start_station_id, 75%)    279 non-null    float64
 7   (start_station_id, max)    279 non-null    float64
 8   (end_station_id, count)    279 non-null    float64
 9   (end_station_id, mean)     279 non-null    float64
 10  (end_station_id, std)      279 non-null    float64
 11  (end_station_id, min)      279 non-null    float64
 12  (end_station_id, 25%)      279 non-null    float64
 13  (end_station_id, 50%)      279 non-null    float64
 14  (end_station_id, 75%)      279 non-null    float64
 15  (end_station_id, max)      279 non-null    float64
 16  (bike_id, count)           279 non-null    float64
 17  (bike_id, mean)            279 non-null    float64
 18  (bike_id, std)             279 non-null    float64
 19  (bike_id, min)             279 non-null    float64
 20  (bike_id, 25%)             279 non-null    float64
 21  (bike_id, 50%)             279 non-null    float64
 22  (bike_id, 75%)             279 non-null    float64
 23  (bike_id, max)             279 non-null    float64
dtypes: float64(24)
memory usage: 54.5+ KB

The difference in length between the two lists is 6.

# Grouping to find outliners

In [21]:
groupByStartStation = df_core.groupby("start_station_id").describe()
groupByStartStation

                 end_station_id                                              \
                          count        mean        std    min    25%    50%
start_station_id
1                          71.0   73.887324  57.651799    1.0    6.0   73.0
3                        4554.0   62.941809  53.447420    3.0   21.0   46.0
4                        9092.0   66.418940  54.111746    3.0   25.0   49.0
5                        7378.0   61.831120  52.862216    3.0   25.0   46.0
6                       11704.0   78.907980  54.001011    3.0   43.0   61.0
...                         ...         ...        ...    ...    ...    ...
227                      5836.0   82.193283  66.186993    3.0   36.0   67.0
228                      1491.0   95.340040  64.666125    4.0   53.0   76.0
229                         4.0  229.000000   0.000000  229.0  229.0  229.0
230                         3.0  230.000000   0.000000  230.0  230.0  230.0
232                         4.0  136.750000  93.990691   56.0   56.0  129.5

                                 bike_id                                   \
                     75%    max    count         mean         std     min
start_station_id
1                 116.00  218.0     71.0  1265.802817  546.255660    69.0
3                  90.00  227.0   4554.0   962.453448  567.314545     1.0
4                  81.00  228.0   9092.0  1001.114276  575.887832     1.0
5                  76.00  228.0   7378.0   986.893332  575.771504     1.0
6                 102.00  228.0  11704.0   991.795882  577.576324     1.0
...                  ...    ...      ...          ...         ...     ...
227               108.00  228.0   5836.0   964.648561  573.090053     1.0
228               144.00  228.0   1491.0   953.961100  587.827323     1.0
229               229.00  229.0      4.0  1583.000000    0.000000  1583.0
230               230.00  230.0      3.0  1583.000000    0.000000  1583.0
232               210.25  232.0      4.0   565.750000  486.534257    59.0


                     25%     50%      75%     max
start_station_id
1                  777.0  1385.0  1770.50  1957.0
3                  486.0   933.0  1430.00  1980.0
4                  522.0   987.0  1520.00  1980.0
5                  502.0   968.0  1513.00  1981.0
6                  501.0   978.0  1515.00  1980.0
...                  ...     ...      ...     ...
227                476.0   932.0  1461.00  1981.0
228                458.0   888.0  1531.00  1980.0
229               1583.0  1583.0  1583.00  1583.0
230               1583.0  1583.0  1583.00  1583.0
232                201.5   571.5   935.75  1061.0

[200 rows x 16 columns]

In [22]:
groupByUserType = df_core.groupby("user_type").describe()
groupByUserType

           start_station_id                                                \
                      count       mean        std  min   25%   50%    75%
user_type
Customer           209036.0  79.787400  53.038360  3.0  43.0  67.0  107.0
Subscriber        1104738.0  86.831294  56.882883  1.0  43.0  74.0  119.0

                  end_station_id             ...                  bike_id  \
              max          count       mean  ...    75%    max      count
user_type                                    ...
Customer    230.0       209036.0  79.515595  ...  105.0  230.0   209036.0
Subscriber  232.0      1104738.0  86.684203  ...  118.0  232.0  1104738.0


                  mean         std  min    25%    50%     75%     max
user_type
Customer    971.644334  566.439833  1.0  494.0  953.0  1463.0  1981.0
Subscriber  997.203960  570.746276  1.0  521.0  981.0  1517.0  1981.0

[2 rows x 24 columns]

In [23]:
groupByEndStation = df_core.groupby("end_station_id").describe()
groupByEndStation

               start_station_id                                              \
                          count        mean        std    min    25%    50%
end_station_id
1                         265.0   90.720755  53.108855    1.0   52.0   84.0
3                        4581.0   64.964418  57.953142    3.0   16.0   46.0
4                        8944.0   67.378131  53.127751    3.0   25.0   52.0
5                        7534.0   66.677197  55.466542    3.0   27.0   50.0
6                       11554.0   78.446772  54.007849    3.0   40.0   64.0
...                         ...         ...        ...    ...    ...    ...
227                      5955.0   78.967758  65.973557    3.0   32.0   60.0
228                      1489.0   95.292814  65.078119    4.0   52.0   74.0
229                         4.0  229.000000   0.000000  229.0  229.0  229.0
230                         3.0  230.000000   0.000000  230.0  230.0  230.0
232                         1.0  232.000000        NaN  232.0  232.0  232.0

                              bike_id                                   \
                  75%    max    count         mean         std     min
end_station_id
1               149.0  194.0    265.0   955.505660  588.938665     2.0
3                98.0  227.0   4581.0   965.900022  565.473352     1.0
4                81.0  228.0   8944.0   997.767218  574.413827     1.0
5                85.0  228.0   7534.0   985.443589  574.695886     1.0
6               102.0  228.0  11554.0   992.070106  577.624746     1.0
...               ...    ...      ...          ...         ...     ...
227             107.0  228.0   5955.0   963.599832  572.768798     1.0
228             177.0  228.0   1489.0   944.772330  582.593801     1.0
229             229.0  229.0      4.0  1583.000000    0.000000  1583.0
230             230.0  230.0      3.0  1583.000000    0.000000  1583.0
232             232.0  232.0      1.0   249.000000         NaN   249.0


                   25%     50%     75%     max
end_station_id
1                444.0   924.0  1488.0  1957.0
3                491.0   939.0  1433.0  1980.0
4                520.0   986.0  1514.0  1980.0
5                504.0   967.0  1508.0  1981.0
6                501.0   980.0  1515.0  1980.0
...                ...     ...     ...     ...
227              474.0   932.0  1460.0  1981.0
228              452.0   881.0  1461.0  1980.0
229             1583.0  1583.0  1583.0  1583.0
230             1583.0  1583.0  1583.0  1583.0
232              249.0   249.0   249.0   249.0

[200 rows x 16 columns]

In [24]:
#Checking, if the combination of 'start_station_name' and 'start_station_id' is always right. The "std" is unequal to zero, if there is more than one specific ID counted.   
groupByStartStationName = df_core.groupby("start_station_name").describe()
groupByStartStationName["start_station_id"]["std"].max()

0.0

In [25]:
#Checking, if the combination of 'end_station_name' and 'end_station_id' is always right. The "std" is unequal to zero, if there is more than one specific ID counted.
groupByEndStationName = df_core.groupby("end_station_name").describe()
groupByEndStationName["end_station_id"]["std"].max()

0.0

# Looking for wrong dates

In [26]:
df_core['start_time'] = pd.to_datetime(df_core["start_time"])
df_core['end_time'] = pd.to_datetime(df_core["end_time"])

In [27]:
#Put out a list containing all the ride data for which the end time is smaller than or equal to the start time. 
display(df_core[df_core.end_time-df_core.start_time <= timedelta(minutes=0)])

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type
1175230,2017-11-05 01:52:32,2017-11-05 01:00:38,55,178,Boylston St at Massachusetts Ave,MIT Pacific St at Purrington St,1038,Subscriber
1175233,2017-11-05 01:55:32,2017-11-05 01:06:34,48,39,Post Office Square - Pearl St at Milk St,Washington St at Rutland St,1916,Subscriber
1175235,2017-11-05 01:57:53,2017-11-05 01:08:30,90,80,Lechmere Station at Cambridge St / First St,MIT Stata Center at Vassar St / Main St,1021,Subscriber
1175236,2017-11-05 01:58:28,2017-11-05 01:16:59,49,178,Stuart St at Charles St,MIT Pacific St at Purrington St,1139,Subscriber
1175237,2017-11-05 01:58:50,2017-11-05 01:04:57,49,60,Stuart St at Charles St,Charles Circle - Charles St at Cambridge St,847,Subscriber
1175238,2017-11-05 01:59:59,2017-11-05 01:21:46,49,130,Stuart St at Charles St,Upham's Corner,1645,Subscriber

# Daylight savings was on the 5th Nov, therefore could explain the wrong data

# Find false IDs

In [28]:
groupByBike = df_core.groupby("bike_id")['start_station_name'].describe()
groupByBike

        count unique                                      top freq
bike_id
1         774    157             MIT at Mass Ave / Amherst St   27
2         245    107  MIT Stata Center at Vassar St / Main St    9
3         965    159             MIT at Mass Ave / Amherst St   26
4         957    160         South Station - 700 Atlantic Ave   28
5         573    140    Central Square at Mass Ave / Essex St   23
...       ...    ...                                      ...  ...
1977       58     36         Prudential Center - Belvedere St    5
1978      126     79         South Station - 700 Atlantic Ave    9
1979      190     96             MIT at Mass Ave / Amherst St   12
1980      167     85           Boston City Hall - 28 State St    9
1981      140     81             MIT at Mass Ave / Amherst St    8

[1799 rows x 4 columns]

# Drop data when necessary

In [29]:
#Delete all raws for which the end time is smaller than or equal to the start time.

df_coreCleaned1 = df_core[df_core.end_time - df_core.start_time >= timedelta(minutes=0)]
number_difference_info(df_core, df_coreCleaned1)

The difference in length between the two lists is 6.

In [30]:
#Remove all duplicates (= duplicates of data rows) contained in the dataframe. 
df_coreCleaned2 = df_coreCleaned1.drop_duplicates()
number_difference_info(df_coreCleaned1, df_coreCleaned2)

The difference in length between the two lists is 0.

In [31]:
#
df_coreCleaned3 = df_coreCleaned2[np.isfinite(pd.to_numeric(df_coreCleaned2.bike_id, errors="coerce"))]
df_coreCleaned3
number_difference_info(df_coreCleaned2,df_coreCleaned3)

The difference in length between the two lists is 0.

In [32]:
#Remove all data rows for which the start or end station is one included by the list of stations to remove from the dataframe.
df_coreCleaned4 = df_coreCleaned3.loc[~(df_coreCleaned3['start_station_name'].isin(list_of_stations_to_remove) | df_coreCleaned3['end_station_name'].isin(list_of_stations_to_remove))]
number_difference_info(df_coreCleaned3, df_coreCleaned4)

The difference in length between the two lists is 12.

In [36]:
#Again, group the dataframe by the start station name to get a better readable view. 
#Furthermore, get information on the overall number of entries in the dataframe as well as  
#the number of entries that had been removed from the original dataframe "df_core".

groupByStationNameCleaned = df_coreCleaned4.groupby("start_station_name").describe()
print("The cleaned dataframe now still has "+str(len(df_coreCleaned4))+" entries.")
print("To obtain the cleaned data, the original dataframe with "+str(len(df_core))+" entries was reduced by "+str(len(df_core)-len(df_coreCleaned4))+" rows of data.")
groupByStationNameCleaned

The cleaned dataframe now still has 1313756 entries.
To obtain the cleaned data, the original dataframe with 1313774 entries was reduced by 18 rows of data.

                                                   start_station_id         \
                                                              count   mean
start_station_name
175 N Harvard St                                             6914.0  149.0
18 Dorrance Warehouse                                          71.0    1.0
359 Broadway - Broadway at Fayette Street                    9279.0  116.0
Agganis Arena - 925 Comm Ave.                                  51.0    9.0
Airport T Stop - Bremen St at Brooks St                      1017.0  214.0
...                                                             ...    ...
Wentworth Institute of Technology - Huntington ...           4329.0  160.0
West Broadway at D Street                                      12.0  161.0
West Broadway at Dorchester St                                 30.0  121.0
Wilson Square                                                3003.0   99.0
Yawkey Way at Boylston St.                                  12010.0   45.0

                                                                              \
                                                    std    min    25%    50%
start_station_name
175 N Harvard St                                    0.0  149.0  149.0  149.0
18 Dorrance Warehouse                               0.0    1.0    1.0    1.0
359 Broadway - Broadway at Fayette Street           0.0  116.0  116.0  116.0
Agganis Arena - 925 Comm Ave.                       0.0    9.0    9.0    9.0
Airport T Stop - Bremen St at Brooks St             0.0  214.0  214.0  214.0
...                                                 ...    ...    ...    ...
Wentworth Institute of Technology - Huntington ...  0.0  160.0  160.0  160.0
West Broadway at D Street                           0.0  161.0  161.0  161.0
West Broadway at Dorchester St                      0.0  121.0  121.0  121.0
Wilson Square                                       0.0   99.0   99.0   99.0
Yawkey Way at Boylston St.                          0.0   45.0   45.0   45.0

                                                                  \
                                                      75%    max
start_station_name
175 N Harvard St                                    149.0  149.0
18 Dorrance Warehouse                                 1.0    1.0
359 Broadway - Broadway at Fayette Street           116.0  116.0
Agganis Arena - 925 Comm Ave.                         9.0    9.0
Airport T Stop - Bremen St at Brooks St             214.0  214.0
...                                                   ...    ...
Wentworth Institute of Technology - Huntington ...  160.0  160.0
West Broadway at D Street                           161.0  161.0
West Broadway at Dorchester St                      121.0  121.0
Wilson Square                                        99.0   99.0
Yawkey Way at Boylston St.                           45.0   45.0

                                                   end_station_id              \
                                                            count        mean
start_station_name
175 N Harvard St                                           6914.0   78.761932
18 Dorrance Warehouse                                        71.0   73.887324
359 Broadway - Broadway at Fayette Street                  9279.0   94.085677
Agganis Arena - 925 Comm Ave.                                51.0   69.803922
Airport T Stop - Bremen St at Brooks St                    1017.0  212.036382
...                                                           ...         ...
Wentworth Institute of Technology - Huntington ...         4329.0   68.520906
West Broadway at D Street                                    12.0  109.000000
West Broadway at Dorchester St                               30.0   95.133333
Wilson Square                                              3003.0   94.076257
Yawkey Way at Boylston St.                                12010.0   63.309242

                                                    ...                 \
                                                    ...     75%    max
start_station_name                                  ...
175 N Harvard St                                    ...  103.00  227.0
18 Dorrance Warehouse                               ...  116.00  218.0
359 Broadway - Broadway at Fayette Street           ...  108.00  228.0
Agganis Arena - 925 Comm Ave.                       ...  106.00  190.0
Airport T Stop - Bremen St at Brooks St             ...  216.00  219.0
...                                                 ...     ...    ...
Wentworth Institute of Technology - Huntington ...  ...   98.00  228.0
West Broadway at D Street                           ...  150.25  218.0
West Broadway at Dorchester St                      ...  160.00  218.0
Wilson Square                                       ...  115.00  228.0
Yawkey Way at Boylston St.                          ...   80.00  228.0

                                                    bike_id               \
                                                      count         mean
start_station_name
175 N Harvard St                                     6914.0   993.648539
18 Dorrance Warehouse                                  71.0  1265.802817
359 Broadway - Broadway at Fayette Street            9279.0   972.919927
Agganis Arena - 925 Comm Ave.                          51.0   913.039216
Airport T Stop - Bremen St at Brooks St              1017.0  1022.932153
...                                                     ...          ...
Wentworth Institute of Technology - Huntington ...   4329.0  1003.287364
West Broadway at D Street                              12.0   739.250000
West Broadway at Dorchester St                         30.0  1134.866667
Wilson Square                                        3003.0   959.341658
Yawkey Way at Boylston St.                          12010.0  1013.340799

                                                                               \
                                                           std    min     25%
start_station_name
175 N Harvard St                                    577.358344    1.0  496.00
18 Dorrance Warehouse                               546.255660   69.0  777.00
359 Broadway - Broadway at Fayette Street           547.304936    1.0  541.00
Agganis Arena - 925 Comm Ave.                       579.249375   23.0  479.00
Airport T Stop - Bremen St at Brooks St             580.758978   12.0  531.00
...                                                        ...    ...     ...
Wentworth Institute of Technology - Huntington ...  580.740071    1.0  498.00
West Broadway at D Street                           295.677074  251.0  529.75
West Broadway at Dorchester St                      501.797990  259.0  702.00
Wilson Square                                       566.213114    1.0  485.00
Yawkey Way at Boylston St.                          579.886317    1.0  517.00


                                                       50%      75%     max
start_station_name
175 N Harvard St                                     985.5  1518.00  1979.0
18 Dorrance Warehouse                               1385.0  1770.50  1957.0
359 Broadway - Broadway at Fayette Street            956.0  1420.00  1981.0
Agganis Arena - 925 Comm Ave.                        743.0  1461.00  1887.0
Airport T Stop - Bremen St at Brooks St             1011.0  1440.00  1967.0
...                                                    ...      ...     ...
Wentworth Institute of Technology - Huntington ...   991.0  1538.00  1981.0
West Broadway at D Street                            766.0   853.25  1228.0
West Broadway at Dorchester St                      1276.5  1565.00  1899.0
Wilson Square                                        924.0  1427.00  1976.0
Yawkey Way at Boylston St.                          1013.0  1537.00  1979.0

[279 rows x 24 columns]

# Write cleaned Data

In [34]:
#Set the dataframe "df_coreCleaned4" as the final cleaned dataframe.
df_core_cleaned = df_coreCleaned4

In [35]:
#Write the data of the final cleaned dataframe into a csv file named "Boston_2017_Cleaned_Data".
df_core_cleaned.to_csv("Boston_2017_Cleaned_Data.csv")